@import "../../styles/variables";

.Header {
  color: #1d2530;
  border-bottom: 1px solid var(--border) !important;

  &-logo {
    width: 14rem;
  }

  &-button-container {
    .button {
      transition: all 0.3s;
      font-weight: 500;
      border-bottom: 2px solid transparent;
      border-radius: 0;
      padding: 0 0.5rem;

      &:hover {
        color: var(--primary);
        background-color: transparent;
        border-bottom: 2px solid var(--primary);
      }

      &:active {
        color: rgb(14, 102, 216);
        background-color: transparent;
        border-bottom: 2px solid var(--primary);
      }

      &.active {
        color: var(--primary);
        border-bottom: 2px solid var(--primary);
        background-color: rgba(0, 0, 0, 0.02);
      }
    }
  }
}

.MuiMenu-paper {
  padding: 0.3rem 0.5rem !important;
  border-radius: 6px !important;
  margin-top: 10px !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1) !important;
}

.MuiMenuItem-root {
  font-weight: 500 !important;
  transition: background-color 0.2s ease;
  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
    color: var(--primary);
  }
}

.MuiCollapse-root .MuiListItemButton-root {
  font-weight: 500;
  font-size: 0.95rem;
  padding-left: 2rem;
}

.MuiListItemButton-root:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
