@import '../../styles/variables';


.Header {
  color: #1d2530;
  border-bottom: 1px solid var(--border) !important;

  &-logo {
    width: 14rem;
  }

  &-button-container {
    .button {
      transition: all 0.3s;
      font-weight: 500;
      border-bottom: 2px solid transparent;
      border-radius: 0;
      padding: 0 0.5rem;

      &:hover {
        color: var(--primary);
        background-color: transparent;
        border-bottom: 2px solid var(--primary);
      }

      &:active {
        color: rgb(14, 102, 216);
        background-color: transparent;
        border-bottom: 2px solid var(--primary);
      }

      &.active {
        color: var(--primary);
        border-bottom: 2px solid var(--primary);
      }
    }
  }
}
